@media (max-width: 1200px) {
    .top {
        height: 800px;
        &__content {
            padding-top: 140px;
            padding-left: 85px;
            gap: 36px;
        }

        &__textblock {
            display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

        &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
        }

        &__text {
            padding-right: 48px;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
    }

         &__link {            
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 104px;
            padding-right: 104px;
            font-size: 16px;
            font-weight: 600;
            line-height: 17px;
            border-radius: 60px;
            color: #ffffff;
            background-color: #202027;
        }
    }

    .imgbigstar1 {
        transform: scale(0.75);
        top: -99px;
        right: -72px;
    }

    .imgstar2 {
        position: absolute;
        top: 74px;
        left: 33px;
    }

    .imgstar3 {
        position: absolute;
        top: 49px;
        left: 106px;
    }

    .imgstar4 {        
        left: 603px;
        top: 548px;
    }

    .imgstar5 {        
        left: 548px;
        top: 488px;
    }

    .textblock {
        padding-left: 85px;
        &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;        
        }

        &__text {
            padding-right: 228px;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
    }
    }

    .aboutgames {
        height: 1320px;
    }

    .cards {
    position: relative;    
    padding-top: 72px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 32px;    
}
    
    .game {
        width: 290px;                
        &__image {
            max-width: 100%;
            width: 50vw;             
            height: auto;          
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;        
        } 

        &__button {        
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
    
    }

    .imgstar11 {        
        left: 40px;
        top: 400px;
    }

    .imgstar12 {        
        left: 50px;
        top: 460px;
    }

    .minigames {   
    height: 3400px;    
    }

    .title {
        padding-bottom: 32px;
        padding-left: 120px;
        font-weight: 700;
        font-size: 52px;
        line-height: 64px;    
    }

    .content {
        align-items: center;
    }

    .block1 {
        width: 945px;
         &__box1 {
            padding-right: 48px;
        }     
    }

    .block2 {
        width: 945px;
        &__box2 {
            padding-left: 12px;    
        }
    }      

    .block3 {
        width: 945px;
        &__box3 {
            padding-left: 24px;
            padding-right: 24px;
        }    
    }

    .block4 {
        width: 945px;            
    }

    .block5 {
        width: 945px;
        &__box5 {
            padding-right: 48px;
        }    
    }

    .block6 {
        width: 945px;    
    }

    .imgstar7 {    
        top: 25px;
        left: 1030px;
    }

    .imgstar6 {        
        top: 55px;
        left: 1080px;
    }

    .imgstar10 {    
        top: 3320px;
        left: 1030px;
        display: none;
    }

    .imgstar8 {    
        top: 2050;
        left: 1080px;
        display: none;
    }
}