* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

 a {
    text-decoration: none;
 }

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;    
    background-image: url(img/Rectangle\ 111002150.jpg);    
}

.top_content {
    padding-top: 196px;
    padding-right: 432px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
}

.top_title {        
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
}

.top_go {
    font-weight: 600;
}

.top_text {
    padding-right: 48px;    
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.top_button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 65px;
    padding-right: 65px;    
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    border-radius: 60px;
    color: #ffffff;
    background-color: #202027;
}

.top_button:hover {
    color: #202027;
    background-color: #ffffff;
}

.top_star2 {    
    position: absolute;
    top: 94px;
    left: 63px;        
}

.top_star3 {    
    position: absolute;
    top: 69px;
    left: 156px;    
}

.top_star4 {
   position: absolute;
   left: 1013px;
   top: 568px;
}

.top_star5 {
    position: absolute;
    left: 948px;
    top: 538px;
 }

 .top_bigstar1 {
    position: absolute;
    top: 0;
    right: 0;
 }

.aboutgames {
    height: 1470px;    
    background-image: url(img/Rectangle\ 111002149.jpg);    
}

.aboutgames_textblock {
    position: relative;
    padding-top: 94px;     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    gap: 24px;       
}

.aboutgames_textblock_title {    
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #ffffff;
}

.aboutgames_textblock_text {
    padding-right: 450px;    
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}

.aboutgames_textblock_star1 { 
    position: absolute;
    right: -110px;
    z-index: 0;    
}

.aboutgames_cards {    
    position: relative;
    padding-top: 72px;   
    display: flex;    
    justify-content: center;
    gap: 32px;
}

.aboutgames_cards_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 31px;
}

.aboutgames_cards_block_game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_cards_block_game:hover {
    transform: scale(1.1);
}

.aboutgames_cards_block_game_textincard1 {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px; 
}

.aboutgames_cards_block_game_textincard2 {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-left: 32px;
    padding-right: 48px;
    margin-top: 32px;
    margin-bottom: 36px;   
}

.aboutgames_cards_block_game_textincard1_button {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 52px;
    background-color: #f7f7f7;
    border: none;                   
}

.aboutgames_cards_block_game_textincard1_title {        
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #202027;    
}

.aboutgames_cards_star11 {
    position: absolute;
    left: -80px;
    top: 490px;
}

.aboutgames_cards_star12 {
    position: absolute;
    left: -70px;
    top: 550px;
}

.minigames { 
    position: relative;   
    height: 3500px;    
    background-image: url(img/Rectangle\ 111002146.jpg);    
}

.minigames_title {    
    padding-bottom: 72px;    
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
}

.minigames_content {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.minigames_content_block1 {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_content_block2 {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_content_block3 {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_content_block4 {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_content_block5 {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_content_block6 {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_content_block1_textbox {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    gap: 24px;
    padding-left: 48px;    
    padding-right: 128px;    
}

.minigames_content_block2_textbox {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    gap: 24px;
    padding-left: 48px;    
    padding-right: 118px;    
}

.minigames_content_block3_textbox {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    gap: 24px;
    padding-left: 48px;    
    padding-right: 78px;    
}

.minigames_content_block1_textbox_title {    
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.minigames_content_block1_textbox_description {    
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.minigames_content_block1_textbox_button {    
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    border-radius: 60px;
    color: #ffffff;
    background-color: #202027;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 65px;
    padding-right: 65px;
}

.minigames_content_block1_textbox_button:hover {
    color: #202027;
    background-color: #ffffff;
}

.minigames_star7 {
    position: absolute;
    top: 35px;
    left: 1280px;
}

.minigames_star6 {
    position: absolute;
    top: 65px;
    left: 1330px;
}

.minigames_star10 {
    position: absolute;
    top: 3370px;
    left: 1260px;
}

.minigames_star8 {
    position: absolute;
    top: 2100;
    left: 1330px;
}

.footer {
    height: 150px;    
    background-image: url(img/Rectangle\ 111002148.jpg);
}

.footer_content {
    padding-top: 60px;               
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;        
}


