* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;    
    background-image: url(img/Rectangle\ 111002150.jpg);    
}

.top_head {
    padding-top: 221px;
    width: 769px;
    height: 358px;    
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 118px;
}

.top_title {    
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
}

.go {
    font-weight: 600;
}

.top_text {    
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.top_button {
    width: 247px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 142%;
    border-radius: 60px;
    color: #ffffff;
    background-color: #202027;
}

.top_button:hover {
    color: #202027;
    background-color: #ffffff;
}

.top_star1 {    
    position: absolute;
    top: 130px;
    left: 58px;        
}

.top_star2 {    
    position: absolute;
    top: 75px;
    left: 138px;    
}

.top_star4 {
   position: absolute;
   left: 900px;
   top: 600px;
}

.top_star5 {
    position: absolute;
    left: 850px;
    top: 550px;
 }

 .top_bigstar1 {
    position: absolute;
    top: 0;
    right: 0;
 }

.aboutgames {
    height: 1470px;    
    background-image: url(img/Rectangle\ 111002149.jpg);    
}

.aboutgames_top {
    padding-top: 48px;
}

.aboutgames_textblock {
    position: relative; 
    display: flex;
    flex-direction: column;    
    gap: 24px;
    padding-left: 118px;   
}

.aboutgames_title {
    width: 314px;
    height: 78px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #ffffff;
}

.aboutgames_text {
    width: 788px;
    height: 96px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}

.aboutgames_star1 { 
    position: absolute;
    right: 0;
    z-index: 0;    
}

.aboutgames_cardblock {
    position: relative;
    padding-top: 36px;            
    height: 1056px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.aboutgames_game1 {
    width: 378px;
    height: 473px;
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_game1:hover {
    transform: scale(1.1);
}

.aboutgames_game2 {
    width: 378px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_game2:hover {
    transform: scale(1.1);
}

.aboutgames_game3 {
    width: 378px;
    height: 473px;
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_game3:hover {
    transform: scale(1.1);
}

.aboutgames_game4 {
    width: 378px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_game4:hover {
    transform: scale(1.1);
}

.aboutgames_game5 {
    margin-top: 32px;
    width: 378px;
    height: 473px;
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_game5:hover {
    transform: scale(1.1);
}

.aboutgames_game6 {
    width: 378px;
    height: 512px;
    background-color: #ffffff;
    border-radius: 30px;
}

.aboutgames_game6:hover {
    transform: scale(1.1);
}

.aboutgames_button {
    margin-top: 8px;
    margin-left: 32px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    border-radius: 52px;
    background-color: #f7f7f7;
    border: none;           
}

.aboutgames_game1title {
    margin-left: 32px;
    width: 314px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.aboutgames_star11 {
    position: absolute;
    left: 20px;
    top: 400px;
}

.aboutgames_star12 {
    position: absolute;
    left: 50px;
    top: 500px;
}

.minigames { 
    position: relative;   
    height: 3500px;    
    background-image: url(img/Rectangle\ 111002146.jpg);    
}

.minigames_title {
    padding-left: 120px;
    padding-bottom: 54px;
    width: 400px;
    height: 78px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #ffffff;
}

.minigames_box {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.minigames_block1 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_block2 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_block3 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_block4 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_block5 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_block6 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.minigames_block1text {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.minigames_block2text {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.minigames_texttitle {
    width: 504px;
    height: 59px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}

.minigames_description {
    width: 457px;
    height: 64px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.minigames_button {
    width: 247px;
    height: 66px;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    border-radius: 60px;
    color: #ffffff;
    background-color: #202027;
}

.minigames_button:hover {
    color: #202027;
    background-color: #ffffff;
}

.minigames_star7 {
    position: absolute;
    top: 35px;
    left: 1280px;
}

.minigames_star6 {
    position: absolute;
    top: 65px;
    left: 1330px;
}

.minigames_star10 {
    position: absolute;
    top: 3330px;
    left: 1280px;
}

.minigames_star8 {
    position: absolute;
    top: 2100;
    left: 1330px;
}

.footer {
    height: 150px;    
    background-image: url(img/Rectangle\ 111002148.jpg);
}

.footer_content {
    padding-top: 60px;
    margin: auto;
    width: 285px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;        
}


